.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1f5fe70;
    border-top: 3px solid green;
    width: 100vw;
    height: 100vh;
}

.box {
    width: 300px;
    height: 380px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 3px solid green;
    border-radius: 7px;
}

.register--title {
    text-align: center;
    
    margin: 20px auto;
    font-family: monospace;
    color: green;
}

input {
    display: block;
    padding: 7px 0;
    margin: 15px auto;
    font-size: 18px;
    color: #008f7e;
}

.box input::placeholder {
    padding: 10px;
    color: #008f7e94;
}

.register--button {
    padding: 10px 5px;
    width: 165px;
    height: 50px;
    margin: 20px auto;
    text-transform: uppercase;
    font-weight: bold;
    background: #008f7e;
    border: none;
    transition: 0.5s all;
    cursor: pointer;
    border-radius: 7px;
}


.register--button:hover {
    background: #008f7e94;
    transform: scale(1.05);
    transition: 0.5s all;
}